[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = "*"
Sphinx = "*"
jupyterlab = "*"

[packages]
src = {editable = false, path = "./"}
awscli = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
seldon-core = "*"

[requires]
python_version = "3.8"
